myenv/
__pycache__/
openai_key.txt
data/source/
data/studyConsultation/
**/.DS_Store
api_tokens/
google-cloud-sdk/
contexts.json
irrelevant_contexts.json
shared_contexts.json
data/questions.csv
tmux_output.txt